<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131165147482-fhe3a5rul5c42pqm9neba6nqd6t6v0d4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131165147482-fhe3a5rul5c42pqm9neba6nqd6t6v0d4</string>
	<key>API_KEY</key>
	<string>AIzaSyBC0gXSC53aVXzEe_IRhu-IMElnPf4zo3s</string>
	<key>GCM_SENDER_ID</key>
	<string>131165147482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeButler</string>
	<key>PROJECT_ID</key>
	<string>recipebutler-fd32c</string>
	<key>STORAGE_BUCKET</key>
	<string>recipebutler-fd32c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131165147482:ios:aef2980e27f7649974a363</string>
</dict>
</plist>